<p class="error" [ngClass]="lengthError ? 'error active' : 'error'">You have reached the maximum size of an input number!</p>
<section id="calculator">
    <section id="result">{{ getCalculatorDisplay() }} </section>
    <section id="buttons">
        @for (row of buttons; track row) {
            <div class="row">
                @for (button of row; track button) {
                    <button 
                        mat-fab 
                        [attr.aria-label]="button.label" 
                        [class]="button.class" 
                        (click)="updateDisplay(button.event, button.text)"
                    >
                        {{ button.text }}
                    </button>
                }
            </div>
        }
    </section>
</section>
first value: {{this.firstValue()}}
second value: {{this.secondValue()}}